* {
    background: #222;
    color: #fff;
}

.tls {
    background: #222;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    box-shadow: 0 0 20px #00aeff;
    border-bottom: solid 1px #bbb;
}
h1 {
    text-align: center;
    color: #222;
    animation: rotatingRGB 2s infinite;
    -webkit-text-stroke: 1px white;
    font-family: "Lucida Handwriting", cursive;
}
.bmns {
    animation: rotatingRGB 3s infinite;
}
table {
    text-align: center;
    font-size: 17px;
}
table, tr, th, td {
    border: solid 1px #bbb;
}
.content {
    margin-top: 10%;
}

@media (max-width:700px) {
    .content {
        margin-top: 45%;
    }
}
@media (min-width:700px) {
    table {
        margin-left: 37%;
    }
}

@keyframes rotatingRGB {
    0% {
        text-shadow: 0 0 10px rgb(255, 0, 0);
    }
    25% {
        text-shadow: 0 0 10px rgb(0, 255, 0);
    }
    50% {
        text-shadow: 0 0 10px rgb(0, 0, 255);
    }
    75% {
        text-shadow: 0 0 10px rgb(255, 0, 255);
    }
    100% {
        text-shadow: 0 0 10px rgb(255, 0, 0);
    }
}
